* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans';
}

.content {
    margin: auto 22rem;
}

/* .title */

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header--content {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* title brand */
.header--title--brand {
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 24px;
}

/* navbar */
.navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

.header--content ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 8px;
}

.navbar li a {
    padding: 16px 0;
}

/*  */

.action {
    height: 100%;
    display: flex;
    align-items: center;
}

.action__icon {
    text-transform: uppercase;
    padding: 16px 40px;
    border: none;
    margin: 0px 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.action__icon--login {
    background-color: #7B61FF;
    color: #fff;
}

.action__icon--register {
    color: #7B61FF;
    background-color: #fff;
}