* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans';
}

.content {
    margin: auto 375px;
}

/* .title */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header--content {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* title brand */
.header--title--brand {
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 24px;
}

/* navbar */
.navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

.header--content ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 8px;
}

.navbar li a {
    padding: 16px 0;
}

/*  */

.action {
    height: 100%;
    display: flex;
    align-items: center;
}

.action__icon {
    text-transform: uppercase;
    padding: 16px 40px;
    border: none;
    margin: 0px 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.action__icon--login {
    background-color: #7B61FF;
    color: #fff;
}

.action__icon--register {
    color: #7B61FF;
    background-color: #fff;
}

.hero {
    position: relative;
}

.hero__content {
    position: absolute;
    width: 40%;
    top: 328px;
    left: 372px;
    color: #fff;
}

.circle {
    height: 558px;
    width: 558px;
    background-color: rgba(51, 110, 225, 0.5);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    color: #fff;
    top: 180px;
    left: 227px;
}

.hero__content--title {
    font-weight: bold;
    line-height: 80px;
    font-size: 60px;
    width: 100%;
}

.hero__content--description {
    width: 60%;
    font-size: 24px;
    line-height: 32px;
    margin: 40px 0;
}

.btn--get-started {
    border: none;
    width: 270px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 24px 40px 22px;
    cursor: pointer;
    background: #7B61FF;
}

.hero__content--group {
    z-index: 1;
}

.content--title {
    padding-top: 160px;
    margin: auto;
    text-align: center;
    width: 70%;
}

.content--title h1 {
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.content--title p {
    font-size: 24px;
    color: #7f7f7f;
    line-height: 32px;
}

/* list invest */

.list--card {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: block;
    margin: 0 0 40px 0px;
    flex-basis: calc(100%/3 - 14px);
    box-shadow: 16px 16px 16px 16px rgba(51, 51, 51,0.1);
    position: relative;
}

.card .card--image {
    position: relative;
}

.card .card--image .card--image--tag {
    position: absolute;
    top: 24px;
    left: 24px;
}

.card--image--tag button {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    padding: 8px 12px;
    text-transform: uppercase;
}

.card--image--tag button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.card--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.card--content .card--title h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card--content .card--title p {
    font-size: 16px;
    line-height: 24px;
    color: #7f7f7f;
}

.card--content .card--title {
    margin: 22px 0;
}

.card--content p {
    font-size: 16px;
    line-height: 24px;
}

.card--content .card--progress {
    margin: 22px 0;
}

.card--progress .progress--bar {
    width: 100%;
    height: 8px;
    background-color: #ECECEC;
    position: relative;
}

.progress--bar .progress--bar--complete {
    position: absolute;
    width: 50%;
    height: 8px;
    background-color: #7B61FF;
}

.card--progress p {
    margin-top: 8px;
    line-height: 24px;
}

.card--progress p span {
    color: #7B61FF;
    font-weight: bold;
    font-size: 16px;
}

.card--view {
    position: absolute;
    height: 100%;
    /* top: 0;
    left: 0; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.card--view .card--content hr {
    border: 1px solid #ECECEC;
}

.card--view .card--description {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.card--view .card--description .card--description--line {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    margin: 4px 0;
}

.btn__card--view {
    width: 100%;
    height: 72px;
    border: none;
    background-color: #336EE1;
    text-transform: uppercase;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.card .card--content:hover~.card--view {
    cursor: pointer;
    opacity: 1;
    /* transition: transform 1s; */
}

/* Button view */

.content .btn__content--view--all {
    border: 1px solid #336EE1;
    margin: auto;
    width: 20%;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #336EE1;
    background-color: #fff;
    padding: 18px 32px;
}

.content .btn__content--view--all:hover {
    cursor: pointer;
}

.graph {
    width: 100%;
    margin: 50px 0;
    position: relative;
}

.graph--content {
    position: absolute;
    left: 375px;
    top: 0;
    bottom: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graph--content i {
    color: #fff;
    background-color: #7B61FF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    padding: 10px 0;
}

.graph--content h1 {
    margin: 32px 0;
    line-height: 64px;
    font-weight: bold;
    font-size: 48px;
}

.graph--content p {
    color: #7f7f7f;
    font-size: 24px;
    line-height: 32px;
}

#chart-line {
    position: absolute;
    top: 0;
    right: 0;
}

/* contact */

.contact {
    display: flex;
    justify-content: space-between;
}

.contact--content {
    width: 50%;
}

.contact--content h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: bold;
}

.contact--content p {
    color: #7f7f7f;
    font-size: 24px;
    line-height: 32px;
    margin: 22px 0;
}

.contact--content button {
    border: none;
    background-color: #7B61FF;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 22px 40px;
}

.contact--content button:hover {
    cursor: pointer;
}

/* footer */

footer {
    background-color: #ECECEC;
    padding: 60px 0;
    margin-top: 4rem;
}

.footer--row {
    display: flex;
    justify-content: space-between;
}

.footer--row .footer--title h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 24px;
}

.footer--row .footer--title p {
    color: #7f7f7f;
    font-size: 15px;
}

.footer--service, .footer--about {
    flex-basis: 20%;
}

.footer--service h4, .footer--about h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.footer--service p, .footer--about p {
    margin: 12px 0;
    font-size: 16px;
    color: #7f7f7f;
}

.footer--row .footer--subscribe h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 100;
    margin-bottom: 16px;
}

.form--subscribe input[type=email] {
    height: 51px;
    width: 70%;
    border: none;
    line-height: 24px;
    font-size: 16px;
    background-color: #ECECEC;
    border-bottom: 1px solid #7f7f7f;
}

.form--subscribe input[type=email]:focus-visible {
    outline: 0px;
}

.form--subscribe button {
    border: none;
    background-color: #336EE1;
    color: #fff;
    font-size: 16px;
    padding: 18px 20px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}

.form--subscribe button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.footer--row .footer--social {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.footer--row .footer--social a {
    margin: 0 22px;
    font-size: 18px;
    padding: 12px;
    color: #646363;
}