* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans';
}

.content {
    margin: auto 22rem;
}

/* .title */

header {
    background-color: #10375c;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar {
    display: inline-block;
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 1rem 0 0.8rem;
    margin: 0 0.4rem;
}

.header-content a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.title__brand {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 24px;
}

.navbar__icon {
    color: #fff;
}